<h1 align="center">Welcome to ZnA Grocery!</h1>

<!-- Page Header with Links -->
<div style="text-align: center; margin-top: 20px;">
    <h2>
        <a href="/login" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Login</a>
    </h2>
    <h2>
        <a href="/listprod" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Begin Shopping</a>
    </h2>
    <h2>
        <a href="/listorder" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">List All Orders</a>
    </h2>
    <h2>
        <a href="/customer" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Customer Info</a>
    </h2>
    <h2>
        <a href="/admin" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Administrators</a>
    </h2>
    <h2>
        <a href="/logout" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Log out</a>        
    </h2>
</div>