<h1 align="center">{{title}}</h1>

<!-- Page Header with Links -->
<div style="text-align: center; margin-top: 20px;">
    <h2>
        <a href="/login" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Login</a>
    </h2>
    <h2>
        <a href="/listprod" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Browse Products</a>
    </h2>
    <h2>
        <a href="/listorder" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">View Orders</a>
    </h2>
    <h2>
        <a href="/showcart" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Shopping Cart</a>
    </h2>
    <h2>
        <a href="/customer" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Customer Info</a>
    </h2>
    <h2>
        <a href="/admin" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Administrator Access</a>
    </h2>
    <h2>
        <a href="/logout" style="color: #006400; text-decoration: none; font-size: 20px; padding: 10px;">Log Out</a>
    </h2>
    <h3>
        {{signedinuser}}
    </h3>
    
</div>